node_modules
dev
.env
deploy/docker/app/db/data-postgres/*
deploy/docker/app/db/pgadmin/*
deploy/docker/db/data-postgres
deploy/docker/app/data-postgres
deploy/docker/db/data
my-project
learn-typegraphql
build
.docker.env
.vscode